body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeContainer {
    background: rgb(201,219,231);
    background: radial-gradient(circle, rgba(201,219,231,1) 0%, rgba(148,187,233,1) 100%);
}

#homeTitle {
    width: 70vw;
    height: auto;
    z-index: 10;
}

#scrollIndicator {
    overflow: hidden;
    position: absolute;
    bottom: 1vh;
    width: 24px;
    margin: -12px;
    height: 70px;
}

#scrollIndicator::after {
    display: block;
    content: "";
    position: absolute;
    left: 13px;
    top: 10px;
    width: 4px;
    height: 4px;
    margin-left: -3px;
    background-color:#000000;
    border-radius: 2px;
    animation: mouse-wheel 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
  
@keyframes mouse-wheel {
    0% {
        transform: translateY(0);
        opacity: 0;
    }  
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(0);
        height: 4px;
    }
    50% {
        transform: translateY(0);
        height: 30px;
    }
    70% {
        transform: translateY(25px);
        height: 4px;
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: translateY(25px);
        opacity: 0;
    }
}

#fadeOutContainer {
    position: absolute;
    background-color: white;
    transition: opacity 1s;
    pointer-events: none;
}



#infoContainer {
    background-color: blue;
}

#mainCanvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#productContainer {
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
    /* justify-content: center; */
}

#productContainer img {
    width: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
}


#productTextHolder {
    width: 45vw;
    margin-left: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#aboutHolder {
    width: 45vw;
    margin-left: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#aboutHolder h1, #productTextHolder h1 {
    margin-left: -2vw;
}

#storyContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}

#storyHolder {
    width: 60vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#storyHolder p {
    width: 100%;
}

#footerContainer {
    width: 100vw;
    background-color: black;
    color: white;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footerContainer a:link, a:visited, a:active {
    text-decoration: none;
    color: gray;
}

#footerContainer p {
    margin: 0;
}

#footerRight {
    margin-right: 3vw;
    color: gray;
}


#loadingPage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #083952;
    transition: opacity 0.5s;
}

#terminalOutput {
    color: #f8f8f8;
    margin: 0;
    margin-left: 1vw;
    margin-top: 0.5vw;
    font-family: monospace;
}

.terminalTypeLine, .terminalResponseLine {
    margin: 0;
    white-space: pre;
}

.terminalTypeLine::before {
    content: "$ ";
}


/* MOBILE */

@media only screen and (max-width: 700px) {
    
    body {
        overflow-x: hidden;
    }

    #mainCanvas {
        pointer-events: none;
    }

    #productContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #productContainer img {
        width: auto;
        max-height: 80vh;
        height: auto;
    }
    
    
    #productTextHolder {
        width: 90vw;
        margin: 0;
        margin-top: 0;
        margin-bottom: 5vw;
    }
    
    #aboutHolder {
        width: 90vw;
        margin: 0;
        margin-top: 10vw;
        margin-bottom: 5vw;
    }

    #aboutHolder h1, #productTextHolder h1 {
        margin-left: 0;
    }

    #storyHolder {
        width: 80vw;
        margin: 0;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    #footerContainer {
        width: 100vw;
        background-color: black;
        color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* font-size: 2.5vw; */
        padding: 0;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

}